[user]
    name = ryo
    email = ryo7000@gmail.com
[core]
    excludesfile = /home/ryo/.gitignore

    # Add FRX (git default) option if $LESS does not include FRX.
    pager = less -FRX
    autoCRLF = false
[alias]
    br = branch
    di = diff
    ci = commit
    co = checkout
    st = status
    dc = diff --cached
    logx = log --pretty=format:\"%Cgreen%h %ad %Cblue%cn %Cred%d %Creset%s\" --graph --date=short --full-history --branches
    mg = merge --no-ff
[color]
    ui = true
[commit]
    verbose = true

# カレントブランチと同名のリモートブランチが存在する場合のみ
# カレントブランチのpushが行われる
[push]
    default = simple

# master上でgit mergeする時は常に--no-ff (Merge commitを作成)
# git pullする時はmergeではなくrebase
[branch "master"]
    mergeoptions = --no-ff
    rebase = true

[include]
	path = .gitconfig.local
[merge]
	ff = false
[log]
	decorate = auto
[url "github.com:ryo7000"]
    insteadOf = https://github.com/ryo7000
[ghq]
    root = ~/devel/ghq
[init]
	defaultBranch = main
[includeIf "gitdir:~/dotfiles/"]
    path = ~/.gitconfig-priv
[includeIf "gitdir:~/devel/ghq/"]
    path = ~/.gitconfig-priv
