/* media info */

#mpris {
  padding: 0 12px;
  font-weight: normal;
}

/* volume */

#custom-left_div.6 {
  color: @volume;
}
#pulseaudio,
#wireplumber {
  background-color: @volume;
}

/* brightness */

#custom-left_div.7 {
  background-color: @volume;
  color: @tray;
}
#tray {
  background-color: @tray;
}

/* battery */
#custom-left_inv.2 {
  color: @tray;
}

/* power menu */
#custom-power {
  border-radius: 16px;
  padding: 0 19px 0 16px;
  font-size: 20px;
  color: @accent;
}
